/* Atom One Light (Default) */
.hljs {
    color: #383a42;
    background: #fafafa;
}

.hljs-comment,
.hljs-quote {
    color: #a0a1a7;
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e45649;
}

.hljs-literal {
    color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
    color: #50a14f;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #4078f2;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
    color: #c18401;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}

/* Atom One Dark (Dark Mode) */
.dark .hljs {
    color: #abb2bf;
    background: #282c34;
}

.dark .hljs-keyword,
.dark .hljs-operator {
    color: #F92672;
}

.dark .hljs-pattern-match {
    color: #F92672;
}

.dark .hljs-pattern-match .hljs-constructor {
    color: #61aeee;
}

.dark .hljs-function {
    color: #61aeee;
}

.dark .hljs-function .hljs-params {
    color: #A6E22E;
}

.dark .hljs-function .hljs-params .hljs-typing {
    color: #FD971F;
}

.dark .hljs-module-access .hljs-module {
    color: #7e57c2;
}

.dark .hljs-constructor {
    color: #e2b93d;
}

.dark .hljs-constructor .hljs-string {
    color: #9CCC65;
}

.dark .hljs-comment,
.dark .hljs-quote {
    color: #b18eb1;
    font-style: italic;
}

.dark .hljs-doctag,
.dark .hljs-formula {
    color: #c678dd;
}

.dark .hljs-section,
.dark .hljs-name,
.dark .hljs-selector-tag,
.dark .hljs-deletion,
.dark .hljs-subst {
    color: #e06c75;
}

.dark .hljs-literal {
    color: #56b6c2;
}

.dark .hljs-string,
.dark .hljs-regexp,
.dark .hljs-addition,
.dark .hljs-attribute,
.dark .hljs-meta .hljs-string {
    color: #98c379;
}

.dark .hljs-built_in,
.dark .hljs-title.class_,
.dark .hljs-class .hljs-title {
    color: #e6c07b;
}

.dark .hljs-attr,
.dark .hljs-variable,
.dark .hljs-template-variable,
.dark .hljs-type,
.dark .hljs-selector-class,
.dark .hljs-selector-attr,
.dark .hljs-selector-pseudo,
.dark .hljs-number {
    color: #d19a66;
}

.dark .hljs-symbol,
.dark .hljs-bullet,
.dark .hljs-link,
.dark .hljs-meta,
.dark .hljs-selector-id,
.dark .hljs-title {
    color: #61aeee;
}

.dark .hljs-emphasis {
    font-style: italic;
}

.dark .hljs-strong {
    font-weight: bold;
}

.dark .hljs-link {
    text-decoration: underline;
}